* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
}

.account-settings {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    row-gap: 10px;
    width: 100%;
}

.account-settings > span, 
.main-navigation > span {
    column-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.account-settings > span > svg,
.main-navigation > span > svg {
    fill: white;
    height: 20px;
    justify-self: center;
    width: 20px;
}


body {
    height: 100vh;
    width: 100vw;
}

button {
    color: white;
    background-color: #304D30;
    border-style: none;
    border-radius: 30px;
}


.dash-logo {
    margin-top: 20px;

}


.dash-logo > span {
    column-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.dash-logo > span >  h1 {
    align-self: center;
    color: white;
    display: inline-block;
    font-size: 1.5rem;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
    width: 100%;
}


h2 {
    color: white;
    display: inline-block;
    font-size: 1rem;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    /* Items: */
    /* display: grid;
    grid-template-rows: 2fr 3fr; */
}

.header > div {
    padding-left: 60px;
    padding-right: 90px;
}

input {
    background-color: #EEF0E5;
    border-style: none;
    border-radius: 20px;
    height: 50%;
    width: 75%;
}

.left-side {
    display: grid;
    grid-template-columns: 1fr 20fr;
    height: 100%;
    place-items: center;
}

.left-side > svg,
.left-side > input {
    justify-self: start;
}

.main-content {
    background-color: #c4cac4;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.main-navigation {
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;
    margin-top: 55px;
    margin-bottom: 55px;
    row-gap: 10px;
    width: 100%;
}

.right-side {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    height: 100%;
}

.right-side > svg:first-child {
    justify-self: end;
}

.right-side > svg:nth-child(2) {
    justify-self: center;
}

.row1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 40%;
    width: 100%;
}

.row2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 10px;
    width: 100%;
}

.row2-left {
    display: grid;
    grid-template-columns: 1fr 10fr;
    
}

.row2-left > div:nth-child(1) {
    display: grid;

}

.row2-left > div:nth-child(2) {
    display: grid;
}


.row2-left > div > h1 {
    font-size: 1.4rem;
}

.row2-right {
    align-self: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    height: 50%;
}

.sidebar {
    background-color: #304D30;
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
    padding-left: 15px;

}

